@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    user-select: none;
    text-decoration: none;
}
body {
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background: #f9f9f9;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
}

header {
    display:flex;
    position: fixed;
    z-index: 3;
    width: 96%;
    justify-content: space-between;
    align-items: center;
    background: #392761ff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    padding: 10px 30px;

}

.logo {
    font-size: 24px;
    font-weight: bolder;
    color: #FBFBFAff;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 0 200px;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #FBFBFAff;
    font-weight: bold;
    font-size: large;
    padding: 5px 15px;
}

nav ul li a:hover,nav ul li a.active, 
.sidebar ul li a:hover,.sidebar ul li a.active {
    transform: scale(1.1);
    background: #FBFBFAff;
    color: #392761ff;
    border-radius: 50px;
}





/* Styling for the account */


.profile-icon i{
    font-size: 45px;
    color: #FBFBFAff;
    cursor: pointer;
}
.profile-icon {
    margin: 0 20px;
    padding: 0;
    border-radius: 50%;
    border: none;
    background: #392761ff;
}

.user-info img {
    width: 250px;
    margin: 30px 0;
    border-radius: 200px;
    border: 2px solid #392761ff;
    box-shadow: 0 4px 20px #6a5acd;
}

.user-info {
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0%;
    left: 50%;
    margin: 0 auto;
    transform: translate(-50%, 2%);
    padding: 10px 50px;
    background-color: #edf5f1;
    border-radius: 25px;
    box-shadow: 0 4px 20px #6a5acd;
}

.user-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 100px;
}

.business {
    text-decoration: none;
    display: inline-flex;
    padding: 10px 10px;
    font-weight: 500;
    font-size: 20px;
    color: #3E40AEff;
    margin: 0 20px;
}

.business:hover {
    transform: scale(1.1);
    text-decoration:underline;
    color: #3E40AEff;
}

.logout {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    padding: 15px 50px;
    background: #6a5acd;
    border-radius: 25px;
    text-decoration: none;
    color: #C2C3E2ff;
    font-size: 20px;
    font-weight: bold;
}

.logout:hover {
    background: #3E40AEff;
    color: #FBFBFAff;
    box-shadow: 0 4px 20px #6a5acd;
}


main {
    display: flex;
    flex-direction: row;
    margin: 79.2px 0 0 0;

}

/* side bar */

.sidebar{
    display: flex;
    flex-direction: column;
    background-color:#392761ff;
    width: 22%;
    padding-bottom: 100%;
    text-decoration: none;
}

.sidebar ul {
    list-style: none;
    padding: 0 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #FBFBFAff;
    font-weight: bold;
    padding: 5px 10px;
}

.sidebar ul li {
    margin: 20px 10px;
}


.content{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 50px 70px;
    background-color: #6a5acd;
    background: rgb(255, 255, 255);
    border-radius: 50px;
    box-shadow: 0 4px 20px rgba(194, 195, 226, 0.379);
    margin: 10px 20px 10px 20px;
}
h3 {
    text-align: center;
    color: #392761;
    font-size: 30px;
    margin: 15px;
}

table{
    background-color: #6a5acd;
    border-radius: 20px;
    padding: 10px;
    border: #392761ff;
}

th{
    background-color: #392761ff;
    color: #edf5f1;
    border-radius: 10px;
    padding: 5px 20px;
    text-align: left;
    text-align: center;
    border: none;
}
td{
    padding: 5px 10px;
    color: #392761ff;
    border: none;
    
}